/* Tabela - Estilo Global */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #0056b3;
    color: white;
}

table tr:hover {
    background-color: #f1f1f1;
}

table a {
    color: #0056b3;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

/* Botões e Links */
a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    color: #555;
}
